.App {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap ;
  flex-direction: column;
  text-align: center;
  align-items: center; 
  
}
#addMe{
  border: 2px solid #282c34;
  width: 125px;
  height: 22px;
}
.adBtn{   
  font-family: 'Segoe UI';
  width: 125px;
  background-color: #ffffff;
  font-weight: 600;
  cursor: pointer;
 border: 2px solid #61dafb;
}

.check:checked+ span{
  text-decoration:line-through;
}
.check{
  position: absolute;
  margin-right: 450px;
}
#typeTask{
margin-bottom: 10px;
}
#task{
  display: flex;
  justify-content: center;
  align-items: center; 
  border: 2px solid #61dafb;
  width: 500px;
  height: 50px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.elements{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.naq {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}
#trash{
  margin-left: 450px;
  cursor: pointer;
  width: 20px;
}

